*{

    padding: 0px;
    
    margin: 0px;
    
    }
    
    
    
    
    body{
    
    background-image: url("blanco..jpg");
    
    background-repeat: repeat;
    background-size: cover;
    
    }
    .Fondotecno{
    
        background-image: url("blanco..jpg");
        
        background-repeat: repeat;
        background-size: cover;
        
        }
    
    
    .img{
    
    position: relative;
    
     
    
    width: 316px;
    
    height: 300px;
    
    border-radius: 10px;
    
    background-repeat: no-repeat;
    
     
    
    left: 180px;
    
    background-image: url("gif.gif");
    
    }
    
    .contenedor{
    height: 230px;
        
         
        
        }

    .texto{
    
        font-size: 40px;
        
        text-align: justify;
        
        color: brown;
        
        
         
        
        }
    
    .Contenido{

        height: 333px;
        
        width: 100%;
        
        position: absolute;
        
        top: 640px;
        
         
        
        }
     
        
        .Imagentecno{
        
         
        
        background-repeat: no-repeat;
        
        float:right;
        
        height: 300px;
        
        width: 260px;
        
        margin-left: 5px;
        
        margin-right:5px;
        
        background-image: url("Foco.jpeg");
        
        
        }
        
        
        
        .Textotecno{
        
        text-align: justify;
        
        color: rgb(0, 0, 0);
        
        font-size: 30px;
        
        
        
        
        }

                        

    
    
        .Fondosocial{
        
            background-image: url("blanco..jpg");
            
            background-repeat: repeat;
            background-size: cover;
            
            }
            
            
            
            .img{
            
            position: relative;
            
             
            
            width: 316px;
            
            height: 300px;
            
            border-radius: 10px;
            
            background-repeat: no-repeat;
        
            
             
            
            left: 180px;
            
            background-image: url("sociaim.jpg");
            
            }
            
            .contenedor{
            
             
            
            height: 230px;
            
             
            
            }
            
            .texto{
            
            font-size: 40px;
            
            text-align: justify;
            
            color: rgb(0, 0, 0);
            
                   
            }

            .Contenido{

                height: 333px;
                
                width: 100%;
                
                position: absolute;
                
                top: 480px;
                
                 
                
                }

            .Imagensocial{
        
         
        
                background-repeat: no-repeat;
                
                float: right;
                
                height: 300px;
                
                width: 400px;
                
                margin-left: 5px;
                
                margin-right:5px;
                
                background-image: url("Humana.jpeg");
                float: left;
                
                }
                .Textosocial{
        
                    text-align: justify;
                    
                    color: rgb(0, 0, 0);
                    
                    font-size: 30px;
                    
                    
                    
                    }



                       .Contenido{

                       height: 280px;
                        
                        width: 100%;
                        
                        position: absolute;
                        
                        top: 410px;
                        
                         
                        
                        }
                        

                        .Fondomate{
    
                            background-image: url("Negro.jpeg");
                            
                            background-repeat: no-repeat;
                            background-size: cover;
                            
                            }
                        
                            .img{
                            
                                position: relative;
                                
                                 
                                
                                width: 190px;
                                
                                height: 190px;
                                
                                border-radius: 10px;
                                
                                background-repeat: no-repeat;
                                
                                 
                                
                                left: 180px;
                                
                                background-image: url("mateim.jpg");
                                
                                }
                                .contenedor{
                                    height: 230px;
                                        
                                         
                                        
                                        }
                                        .texto{
                            
                                            font-size: 40px;
                                            
                                            text-align: justify;
                                            
                                            color: brown;
                                            
                                             
                     
                                            }
                                        
                                
                                
                        .Contenido{
                        
                        height: 280px;
                        
                        width: 100%;
                        
                        position: absolute;
                        
                        top: 410px;
                        
                         
                        
                        }
                        
                         
                        
                        .Imagenmate{
                        
                         
                        
                        background-repeat: no-repeat;
                        
                        float:left;
                        
                        height: 200px;
                        
                        width: 260px;
                        
                        margin-left: 5px;
                        
                        margin-right:5px;
                        
                        background-image: url("mateim.jpg");
                        image-rendering: auto;
                        
                        }
                        
                        
                        
                        .Textomate{
                        
                       
                        
                        color: rgb(0, 0, 0);
                        
                        font-size: 25px;
                        text-align: center;
                        
                        
                        
                        }


                otro
       

                .Fondoinglés{
    
                    background-image: url("Negro.jpeg");
                    
                    background-repeat: repeat;
                    background-size: cover;
                    
                    }
                
                    .img{
                    
                        position: relative;
                        
                         
                        
                        width: 190px;
                        
                        height: 190px;
                        
                        border-radius: 10px;
                        
                        background-repeat: no-repeat;
                        
                         
                        
                        left: 180px;
                        
                        background-image: url("medellin.jpeg");
                        
                        }
                        .contenedor{
                            height: 230px;
                                
                                 
                                
                                }
                                .texto{
                    
                                    font-size: 40px;
                                    
                                    text-align: justify;
                                    
                                    color: brown;
                                    
                                     
                                    
                                    }
                                
                        
                        
                .contenido{
                
                height: 280px;
                
                width: 100%;
                
                position: absolute;
                
                top: 410px;
                
                 
                
                }
                
                 
                
                .Imageninglés{
                
                 
                
                background-repeat: no-repeat;
                
                float: left;
                
                height: 200px;
                
                width: 260px;
                
                margin-left: 5px;
                
                margin-right:5px;
                
                background-image: url("imginglés.png");
                image-rendering: auto;
                
                }
                
                
                
                .Textoinglés{
                
                text-align: justify;
                
                color: rgb(0, 0, 0);
                
                font-size: 20px;
                text-align: center;
                
                
                
                }
   otro

   .Fondoreli{
    
    background-image: url("Negro.jpeg");
    
    background-repeat: no-repeat;
    background-size: cover;
    
    }

    .img{
    
        position: relative;
        
         
        
        width: 190px;
        
        height: 190px;
        
        border-radius: 10px;
        
        background-repeat: no-repeat;
        
         
        
        left: 180px;
        
        background-image: url("medellin.jpeg");
        
        }
        .Contenedor{
            height: 230px;
                
                 
                
                }
                .texto{
    
                    font-size: 40px;
                    
                    text-align: justify;
                    
                    color: brown;
                    
                     
                    
                    }
                
        
        
.Contenido{

height: 280px;

width: 100%;

position: absolute;

top: 410px;

 

}

 

.Imagenreli{

 

background-repeat: no-repeat;

float:left;

height: 200px;

width: 260px;

margin-left: 5px;

margin-right:5px;

background-image: url("galai.jpg");

}



.Textoreli{

text-align: justify;

color: rgb(0, 0, 0);

font-size: 20px;



}

otro

.Fondobiolo{
    
    background-image: url("Imgbio.jpg");
    
    background-repeat: no-repeat;
    background-size: cover;
    
    }

    .img{
    
        position: relative;
        
         
        
        width: 190px;
        
        height: 190px;
        
        border-radius: 10px;
        
        background-repeat: no-repeat;
        
         
        
        left: 180px;
        
        background-image: url("medellin.jpeg");
        
        }
        .Contenedor{
            height: 230px;
                
                 
                
                }
                .texto{
    
                    font-size: 40px;
                    
                    text-align: justify;
                    
                    color: rgb(255, 255, 255);
                    
                     
                    
                    }
                
        
        
.contenido{

height: 280px;

width: 100%;

position: absolute;

top: 410px;

 

}

 

.Imagenbiolo{

 

background-repeat: no-repeat;

float:left;

height: 200px;

width: 260px;

margin-left: 5px;

margin-right:5px;

background-image: url("genetica.jpg");

}



.Textobiolo{

text-align: justify;

color: rgb(0, 0, 0);

font-size: 30px;



}
